*{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: hsl(47, 88%, 63%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    height: auto;
    box-shadow: 6px 6px black;
}

.card:hover {
    cursor: pointer;
    transform: translateY(5px);
    transition-duration: 0.5s;
    box-shadow: none;
}

.img-container{
    padding: 15px;
    max-width: 320px;
}

.article-logo {
    background-size: cover;
    border-radius: 10px;
    width: 100%;
}

.text-box {
    padding: 0 16px;
}

.learning {
    padding: 4px 10px;
    background-color: hsl(47, 88%, 63%);
    color: black;
    border-radius: 5px;
    font-weight: 800;
}

.date {
    margin: 10px 0 15px;    
}

h2{
    font-weight: 950;
    font-size: 21px;
    margin-bottom: 15px;
    color: hsl(0, 0%, 7%)
}

.normal-text {
    color: hsl(0, 0%, 42%);
    font-size: 14px;
}

.avatar {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
}

.avatar-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar p{
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}